.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3000;
  background-color: rgba($color-black, 0.8);

  @supports (backdrop-filter: blur(10px)) {
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  // hide initially
  opacity: 0;
  visibility: hidden;

  transition: all 0.3s;

  &__content {
    @include absolute-center;
    width: 75%;
    // height: 50rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: flex;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;

    @include respond(tab-port) {
      width: 85%;
      flex-direction: column;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    // flex: 1;
    flex: 0 1 34%;
    // display: flex;
    @include respond(tab-port) {
      flex-direction: row;
      justify-content: center;
      padding: 1rem 0;
      background-image: linear-gradient(
        to bottom,
        $color-primary,
        $color-primary-dark
      );
      // background-image: linear-gradient(
      //   to bottom,
      //   rgba($color-primary, 0.9),
      //   rgba($color-primary-dark, 0.7)
      // );
      // flex: 1 1 50%;
      // flex: 1;
      // width: 40%;
    }

    // width: 33.333333%;
  }

  &__right {
    flex: 1;
    // flex: 0 1 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 5rem;
    // width: 66.666667%;
  }

  &__img {
    display: block;
    width: 100%;
    @include respond(tab-port) {
      width: 25%;
      border-radius: 3px;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    hyphens: auto;

    @include respond(phone) {
      column-count: 1;
    }
  }

  // OPEN STATES
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      color: $color-grey-dark;
      text-decoration: none;
      line-height: 1;
      transition: all 0.2s;
    }

    &:hover {
      color: $color-primary;
    }
  }
}

// &__img-block {
//   flex: 1;
//   // flex: 1 1 100%;
//   // height: 100%;
//   background-size: cover;
//   backgroud
//   // background-size: auto;
//   &--1 {
//     background-image: url(../img/nat-8.jpg);
//   }
//   &--2 {
//     background-image: url(../img/nat-9.jpg);
//   }
//   // @include respond(tab-port) {
//   // height: 20%;
//   // flex: 1;
//   // flex: 1 1 33%;
//   // width: unset;
//   // }
// }
