.story {
  width: 75%;
  background-color: rgba($color-white, 0.6);
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  border-radius: 3px;
  padding: 6rem 6rem 6rem 9rem;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 90%;
    padding: 4rem 4rem 4rem 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    position: relative;
    height: 15rem;
    width: 15rem;
    float: left;
    overflow: hidden;
    border-radius: 50%;

    @supports (clip-path: polygon(0 0)) {
      border-radius: none;
      clip-path: circle(50% at 50% 50%);

      // el must have width x height & must be floated
      shape-outside: circle(50% at 50% 50%);
    }

    // 1. best way to move floated element is just to translate it
    // 2. we have to skewX backwards here as this transform would override
    //    the one in & > * {} selector
    transform: skewX(12deg) translateX(-3rem);

    @include respond(phone) {
      transform: skewX(0) translateX(-3rem);
    }
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.2s;
    backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
