/* basic reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* root font size */
html {
  /* font-size: 10px; makes it easier to calculate rems down the line */
  font-size: 62.5%; /* defines what 1rem is */
}

body {
  box-sizing: border-box;
}
