.u-center-text {
  text-align: center;
}

.u-margin-right-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-padding-small {
  padding: 1.5rem;
}

.u-padding-medium {
  padding: 3rem;
}

.u-flex-1 {
  flex: 1;
}
