.header {
  position: relative;
  height: 85vh;

  @include background-image-grad(
    '../img/hero.jpg',
    '../img/hero-small.jpg',
    '../img/hero.webp',
    '../img/hero-small.webp',
    $gradient-primary-alpha-heavy
  );

  background-size: cover;
  background-position: top;

  @supports (clip-path: polygon(0 0)) {
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* clock-wise */
  }

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 87vh);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    /* align top left corner of block at the center of nearest relative parent element */
    top: 40%;
    left: 50%;
    /* translate block element negatively by 50% of its size, effectively centering about its actual centroid */
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
