.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); /* clock-wise */
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  /* align top left corner of block at the center of nearest relative parent element */
  top: 40%;
  left: 50%;
  /* translate block element negatively by 50% of its size, effectively centering about its actual centroid */
  transform: translate(-50%, -50%);
  text-align: center;
}
